---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/followers/list.json?cursor=-1&screen_name=sm_debenedetto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="423b9c11119c272a4e94e7fbb8906ef3",
        oauth_signature="HE8QepdQ2w0SrOL%2BD3xjXSD3bXg%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438782217", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 05 Aug 2015 13:43:35 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 88057323d7fae187829796174b356c25
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1438783115'
      X-Response-Time:
      - '85'
      X-Transaction:
      - 8d151dd4f5386000
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":3389050187,"id_str":"3389050187","name":"Adeline Gross","screen_name":"AdelineGrosk9l","location":"Port
        St. Lucie, FL","description":"I don''t want to be original i want to be cool.
        Everyone that follows me i will follow back","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":16,"friends_count":966,"listed_count":1,"created_at":"Thu
        Jul 23 11:47:30 +0000 2015","favourites_count":0,"utc_offset":-25200,"time_zone":"Pacific
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":33,"lang":"en","status":{"created_at":"Wed
        Aug 05 04:56:43 +0000 2015","id":628791721577578496,"id_str":"628791721577578496","text":"Who''s
        ready for football to start again? http:\/\/t.co\/nvdVtrFp25","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":444166782807339008,"id_str":"444166782807339008","indices":[41,63],"media_url":"http:\/\/pbs.twimg.com\/media\/Bin_Ve5CcAALXTa.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bin_Ve5CcAALXTa.jpg","url":"http:\/\/t.co\/nvdVtrFp25","display_url":"pic.twitter.com\/nvdVtrFp25","expanded_url":"http:\/\/twitter.com\/bubblebutnation\/status\/444166782941544448\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":226,"resize":"fit"},"medium":{"w":500,"h":333,"resize":"fit"},"large":{"w":500,"h":333,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"}},"source_status_id":444166782941544448,"source_status_id_str":"444166782941544448","source_user_id":1589266296,"source_user_id_str":"1589266296"}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/624185478745587712\/laL_22C6_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/624185478745587712\/laL_22C6_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3389050187\/1437652411","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":231883531,"id_str":"231883531","name":"marco
        marcucci","screen_name":"fuser002","location":"italia","description":"Amo
        Gaber,Bergman,Myazaki,Springsteen, Pearl Jam,BoBMarley, musica Cinema la cosa
        importante e'' il rispetto per tutti","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":101,"friends_count":710,"listed_count":3,"created_at":"Wed
        Dec 29 18:39:56 +0000 2010","favourites_count":44,"utc_offset":7200,"time_z[...]
