---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=sm_debenedetto
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="1c24fc866aa1e04a285ac06eee30c7bc",
        oauth_signature="h3FEk%2BrvtNYH84CdrRcdpDp9lpc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438721798", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 04 Aug 2015 20:56:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 7b47d6800cd3093773a7f577c68787dc
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1438722698'
      X-Response-Time:
      - '32'
      X-Transaction:
      - dafb2fded212dd24
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"id":2911734821,"id_str":"2911734821","name":"Sophie DeBenedetto","screen_name":"sm_debenedetto","location":"Brooklyn,
        NY","profile_location":null,"description":"web dev \/\/ software engineer,
        flatiron grad","url":"http:\/\/t.co\/mlsD89FPIo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/mlsD89FPIo","expanded_url":"http:\/\/sophiedebenedetto.nyc\/","display_url":"sophiedebenedetto.nyc","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":70,"friends_count":105,"listed_count":12,"created_at":"Mon
        Dec 08 22:34:14 +0000 2014","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":50,"lang":"en","status":{"created_at":"Sat
        Aug 01 15:56:55 +0000 2015","id":627508314960711681,"id_str":"627508314960711681","text":"@fkchang2000
        looking forward to your upcoming overview! :)\nhttp:\/\/t.co\/auF0RhkZ4a","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":627255686812962816,"in_reply_to_status_id_str":"627255686812962816","in_reply_to_user_id":22202166,"in_reply_to_user_id_str":"22202166","in_reply_to_screen_name":"fkchang2000","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"fkchang2000","name":"Forrest
        Chang","id":22202166,"id_str":"22202166","indices":[0,12]}],"urls":[{"url":"http:\/\/t.co\/auF0RhkZ4a","expanded_url":"http:\/\/replize.herokuapp.com\/#code:alert%20%22You''re%20welcome!%22","display_url":"replize.herokuapp.com\/#code:alert%20\u2026","indices":[59,81]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/542085549641564161\/fsb_Vfm5_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/542085549641564161\/fsb_Vfm5_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2911734821\/1424880802","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"suspended":false,"needs_phone_verification":false}'
  recorded_at: Tue, 04 Aug 2015 20:56:38 GMT
recorded_with: VCR 2.9.3
