---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="44db1cf294efb07cc7457f7a469a8add",
        oauth_signature="UimJzXEHVil2B5fUd4uoxfoVLg8%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438782458", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 05 Aug 2015 13:47:36 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 529d77d6a2f2528f726730b855d68d2d
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1438783356'
      X-Response-Time:
      - '118'
      X-Transaction:
      - 55a8db1fb50e8cd2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Aug 05 13:44:29 +0000 2015","id":628924538328379393,"id_str":"628924538328379393","text":"RT
        @lucasmazza: @josevalim npm, the snapchat for packages.","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":10230812,"id_str":"10230812","name":"Jos\u00e9
        Valim","screen_name":"josevalim","location":"Krak\u00f3w, Poland","description":"@plataformatec
        co-founder, creator of @elixirlang and Rails Core Team Member. Code available
        at http:\/\/t.co\/LkBDReYREb","url":"http:\/\/t.co\/e2CFWd7Gxx","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/e2CFWd7Gxx","expanded_url":"http:\/\/plataformatec.com\/","display_url":"plataformatec.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/LkBDReYREb","expanded_url":"http:\/\/github.com\/josevalim","display_url":"github.com\/josevalim","indices":[96,118]}]}},"protected":false,"followers_count":19205,"friends_count":295,"listed_count":1075,"created_at":"Tue
        Nov 13 23:23:25 +0000 2007","favourites_count":612,"utc_offset":7200,"time_zone":"Rome","geo_enabled":false,"verified":false,"statuses_count":14753,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme15\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/493057993382952960\/BHvDvdue_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/493057993382952960\/BHvDvdue_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Aug 05 13:41:29 +0000 2015","id":628923784796487680,"id_str":"628923784796487680","text":"@josevalim
        npm, the snapchat for packages.","source":"\u003ca href=\"http:\/\/itunes.apple.com\/us\/app\/twitter\/id409789998?mt=12\"
        rel=\"nofollow\"\u003eTwitter for Mac\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":628922424877170688,"in_reply_to_status_id_str":"628922424877170688","in_reply_to_user_id":10230812,"in_reply_to_user_id_str":"10230812","[...]
