---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/account/verify_credentials.json?skip_status=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="f53a9597064809b8d7c5858cfe743dea",
        oauth_signature="4p7sWtVDTd49dLZOm89Io%2FEBSHk%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438719237", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 04 Aug 2015 20:13:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - b240785b897f638899f58cc2d2597cb9
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1438720137'
      X-Response-Time:
      - '19'
      X-Transaction:
      - 859c1a4f72d98e95
      X-Twitter-Response-Tags:
      - BouncerCompliant
      - BouncerExempt
    body:
      encoding: ASCII-8BIT
      string: '{"id":2911734821,"id_str":"2911734821","name":"Sophie DeBenedetto","screen_name":"sm_debenedetto","location":"Brooklyn,
        NY","description":"web dev \/\/ software engineer, flatiron grad","url":"http:\/\/t.co\/mlsD89FPIo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/mlsD89FPIo","expanded_url":"http:\/\/sophiedebenedetto.nyc\/","display_url":"sophiedebenedetto.nyc","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":70,"friends_count":105,"listed_count":12,"created_at":"Mon
        Dec 08 22:34:14 +0000 2014","favourites_count":2,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":50,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/542085549641564161\/fsb_Vfm5_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/542085549641564161\/fsb_Vfm5_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2911734821\/1424880802","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Tue, 04 Aug 2015 20:13:57 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/friends/list.json?cursor=-1&user_id=2911734821
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="qa7msp88pvNI7GeSECqQPnK16", oauth_nonce="f7e9a165884d53353649cdae8a322641",
        oauth_signature="mBddan7ICthlIyENlnCoJcrtkhs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1438719237", oauth_token="2911734821-Grm2qtLudgA8C9G2N5NeqNP74Q8Cdg4zgzGr02H",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 04 Aug 2015 20:13:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 40db046657a665eee1183267886f7887
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1438720137'
      X-Response-Time:
      - '113'
      X-Transaction:
      - f778eb0747872468
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"users":[{"id":22202166,"id_str":"22202166","name":"Forrest Chang","screen_name":"fkchang2000","location":"Southern
        California","description":"Software, Ruby, Rails,Agile. Love martial arts,
        music, movies, TV and food. OCRuby organizer","url":"http:\/\/t.co\/8ZwVkIeZ5N","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/8ZwVkIeZ5N","expanded_url":"http:\/\/funkworks.blogspot.com","display_url":"funkworks.blogspot.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":334,"friends_count":357,"listed_count":16,"created_at":"Fri
        Feb 27 22:48:52 +0000 2009","favourites_count":75,"utc_offset":-28800,"time_zone":"Alaska","geo_enabled":true,"verified":false,"statuses_count":3523,"lang":"en","status":{"created_at":"Mon
        Aug 03 16:53:04 +0000 2015","id":628247219309817856,"id_str":"628247219309817856","text":"Where
        you can go through the tsa line 2x (my fault) and still get in before boarding
        time https:\/\/t.co\/YnO69eHiVf","source":"\u003ca href=\"http:\/\/foursquare.com\"
        rel=\"nofollow\"\u003eFoursquare\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":{"type":"Point","coordinates":[33.81851870,-118.14439774]},"coordinates":{"type":"Point","coordinates":[-118.14439774,33.81851870]},"place":{"id":"01c060cf466c6ce3","url":"https:\/\/api.twitter.com\/1.1\/geo\/id\/01c060cf466c6ce3.json","place_type":"city","name":"Long
        Beach","full_name":"Long Beach, CA","country_code":"US","country":"United
        States","contained_within":[],"bounding_box":{"type":"Polygon","coordinates":[[[-118.250227,33.732905],[-118.0631938,33.732905],[-118.0631938,33.885438],[-118.250227,33.885438]]]},"attributes":{}},"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/YnO69eHiVf","expanded_url":"https:\/\/www.swarmapp.com\/c\/l47hwJNqSqP","display_url":"swarmapp.com\/c\/l47hwJNqSqP","indices":[90,113]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"0099B9","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme4\/bg.gif","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/92041870\/Photo_25_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/92041870\/Photo_25_normal.jpg","profile_link_color":"0099B9","profile_sidebar_border_color":"5ED4DC","profile_sidebar_fill_color":"95E8EC","profile_text_color":"3C3940","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false,"muting":false,"blocking":false,"blocked_by":false},{"id":18579260,"id_str":"18579260","name":"Jaison","screen_name":"jaisonnvieira","location":"","description":"IT
        professional and lover, iOS developer, Apple fanboy","url":"http:\/\/t.co\/oAi3h3uelH","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/oAi3h3uelH","expanded_url":"http:\/\/jaisonv.com","display_url":"jaisonv.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":329,"friends_count":45,"listed_count":6,"created_at":"Sat
        Jan 03 1[...]
